body{
    color: white;
    background-image: url(fundos/th.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* Container principal */
.conteudoPrincipal{
    border: 4px solid black;
    padding: 10px;
    background-color: #2E2E2E;
    width: 80%;
    max-width: 850px;
    height: auto;
    margin: 60px auto;
}

/* Navegação */
.navegacao{
    border: 2px solid black;
    border-radius: 4px;
    background-color: #2E2E2E;
    padding: 20px 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

/* Links */
a:link{
    color: #5882FA;
    text-decoration: none;
}

a:hover{
    color: #A9F5F2;
    border: 1px solid skyblue;
    padding: 3px;
}

/* Media Queries para responsividade */

/* Telas menores que 768px (tablets e smartphones) */
@media (max-width: 
