@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    color: white;
    background-image: url(fundos/pokeroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
}

.navegacao {
    border: 2px solid black;
    border-radius: 4px;
    background-color: #2E2E2E;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center; /* Centraliza os links */
    flex-grow: 1; /* Permite que a seção de links ocupe o espaço disponível */
}

a:link, a:visited {
    color: #5882FA;
    text-decoration: none;
    margin: 0 5px; /* Espaçamento entre os links */
}

a:hover {
    color: #A9F5F2;
}

.logo {
    max-width: 290px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

.MEME {
    margin: 60px auto; 
    padding: 10px;
}

#ima {
    border: 20px solid white; 
    width: 85%;
    max-width: 700px; 
    height: auto; 
}

.botao {
    display: inline-block;
    background-color: #2E2E2E;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 15px 30px; 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    float: right;
}

@media (max-width: 768px) {
    .navegacao {
        flex-direction: column; 
        align-items: center; 
    }

    .links {
        flex-direction: column; 
        align-items: center; 
    }

    .links a {
        margin: 5px 0; /* Ajusta a margem dos links */
    }

    .MEME {
        margin: 20px 10px; 
    }

    .botao {
        float: none;
        margin: 20px auto; 
    }
}

@media (max-width: 480px) {
    .navegacao {
        font-size: 18px; 
    }

    .botao {
        padding: 10px 20px; 
    }
}
