body {
    color: white;
    background-image: url(fundos/pokeroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.MEME {
    margin: 20px auto;
    padding: 10px;
}

#ima {
    border: 20px solid white;
}

.navegacao {
    border: 2px solid black;
    border-radius: 4px solid black;
    background-color: #2E2E2E;
    font-style: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.botao {
    display: inline-block;
    background-color: #2E2E2E;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a:link {
    color: #5882FA;
    text-decoration: none;
}

a:hover {
    color: #A9F5F2;
    border: 1px skyblue;
    padding: 3px;
}

a:visited {
    color: #58ACFA;
}
