body {
    background-image: url(fundos/resident.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 100%; /* Tamanho base de 16px */
    padding: 1rem;
}

/* Navegação */
.navegacao {
    font-style: white;
    background-color: #2E2E2E;
    border: 0.2rem solid black;
    padding: 1.25rem;
    margin: 1rem;
    font-size: 1.25rem; /* Usando rem para tamanho de fonte */
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center; /* Alinha os itens no centro */
    flex-wrap: wrap; /* Para quebrar a linha em telas menores */
}

a:link {
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    color: #A9F5F2;
    padding: 0.2rem;
    margin: 0.1rem;
}

/* Conteiner */
.conteiner {
    border: 0.2rem groove black;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column; /* Coluna por padrão */
    background-color: #2E2E2E;
    margin: 1.5rem;
    max-width: 800px; /* Define uma largura máxima para o contêiner */
    width: 100%; /* Permite que o contêiner ocupe 100% da largura disponível */
    padding: 1rem; /* Adiciona padding ao contêiner */
}

/* Texto */
.texto {
    padding: 0.625rem;
    font-size: 1rem; /* Tamanho relativo */
    line-height: 1.5; /* Aumenta a altura da linha para melhor legibilidade */
}

/* Ajustes para Imagens */
img {
    max-width: 80%; /* Ajuste a largura máxima da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}
/* Media Queries para Responsividade em Mobile */
@media only screen and (max-width: 768px) {
    /* Ajustes para Mobile */
    .navegacao {
        flex-direction: column; /* Navegação em coluna no mobile */
        align-items: center;
        padding: 1rem;
        font-size: 1rem; /* Reduz tamanho da fonte no mobile */
    }

    .conteiner {
        margin: 1rem;
        padding: 1rem;
    }

    .texto {
        font-size: 0.875rem; /* Texto ajustado para mobile */
    }

    body {
        padding: 0.5rem; /* Espaço ajustado para telas menores */
    }
}

/* Layout Normal em PC */
@media only screen and (min-width: 769px) {
    /* Manter o layout original no PC */
    .navegacao {
        flex-direction: row; /* Navegação em linha no desktop */
        justify-content: space-between; /* Espaço igual entre os itens */
    }

    .conteiner {
        flex-direction: column; /* Mantenha o contêiner em coluna para melhor legibilidade */
        max-width: 800px; /* Define uma largura máxima para o contêiner */
        margin: 2rem auto; /* Centraliza o contêiner na tela */
    }

    .texto {
        font-size: 1.25rem; /* Tamanho do texto normal em desktop */
        line-height: 1.5; /* Aumenta a altura da linha para melhor legibilidade */
    }
}
