@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url(fundos/resident.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}

.navegacao {
     border: 2px solid black;
    border-radius: 4px;
    background-color: #2E2E2E;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;
    font-family: 'Press Start 2P', cursive;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

a:link{
    color: #5882FA;
    text-decoration: none;
    margin: 0 5px;
}

a:hover {
    color: #A9F5F2;
}

a:visited {
    color: #00FFFF;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

.conteiner {
    border: groove black;
    margin-top: 20px;
    display: block;
    background-color: #2E2E2E;
    padding: 10px;
    margin: 10px;
}

.texto {
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}




/* Mobile first - Estilos para telas menores */
@media (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        align-items: flex-start;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
    }

    
/* Estilo para a barra de pesquisa */
.search-container {
    text-align: center; /* Centraliza o conteúdo */
    margin: 20px; /* Margem em volta da barra */
}

.search-input {
    padding: 10px; /* Espaçamento interno */
    width: 300px; /* Largura da barra de pesquisa */
    border: 2px solid black; /* Borda preta */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

/* Estilo para a caixa de resultados */
#resultsContainer {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo levemente transparente */
    border: 2px solid black; /* Borda preta */
    border-radius: 8px; /* Bordas arredondadas */
    margin-top: 10px; /* Espaçamento acima */
    padding: 10px; /* Espaçamento interno */
    width: 300px; /* Largura da caixa */
    max-height: 200px; /* Altura máxima */
    overflow-y: auto; /* Rolagem vertical se necessário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

/* Estiliza os itens da lista dentro da caixa de resultados */
#resultsContainer ul {
    list-style-type: none; /* Remove a bolinha da lista */
    padding: 0; /* Remove o padding padrão */
}

/* Estiliza os itens da lista */
#resultsContainer li {
    padding: 5px; /* Espaçamento interno */
}

/* Estiliza os links dentro da lista */
#resultsContainer li a {
    color: #5882FA; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

#resultsContainer li a:hover {
    color: #A9F5F2; /* Cor do texto ao passar o mouse */
}

    .links a {
        margin: 5px 0;
    }

    .conteiner {
        margin: 30px 15px;
        padding: 15px;
    }
    
    .hidden-sm {
        display: none;
    }
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    .navegacao {
        justify-content: space-between;
        padding: 20px;
        max-width: 95%;
        margin: 10px auto; /* Ajusta a margem superior */
    }

    .conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;
    }
}

/* Estilos para desktops grandes */
@media (min-width: 1024px) {
    .navegacao {
        padding: 20px;
        font-size: 16px;
        max-width: 100%; 
        margin: 10px auto; /* Mantém o espaçamento mais sutil em telas grandes */
    }

    .conteiner {
        margin: 20px auto;
        max-width: 1200px;
    }
}
